# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
dev/certs/*.pem
dev/certs/*.srl
dev/certs/*.key
dev/certs/*.csr
.idea/
dev/vault/plugins/
/vendor/
